.App {
  text-align: center;
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  /* can change this to am image later */
  background-color: rgb(93, 126, 96);
}

.formatting-container, .login-format, .signup-format {
  display: flex;
  flex-direction: column;
}

.formatting-container {
  padding: 2rem;
  border: 1px solid white;
  background-color: rgb(45, 61, 46);
}

.subTitle {
  color: white;
}

label {
  text-align: left;
  color: white;
  padding: 0.25rem 0;
}

input {
  margin: 0.5rem 0;
  padding: 1rem;
  border: none;
  border-radius: 5px;
}

button {
  border: none;
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  cursor: pointer;
}

.link-button {
  background: none;
  color: white;
  text-decoration: underline;

}

.guest-button{
  background: none;
  color: white;
  text-decoration: underline;
  padding: 0px;
}

.logout-button{
  border: none;
  background-color: black;
  color: white;
  padding: 20px;
  border-radius: 5px;
  cursor: pointer;
}