

label {
    text-align: left;
    color: black;
    padding: 0.25rem 0;
}

input {
    writing-mode: horizontal-tb;
    text-rendering: auto;
    color: fieldtext;
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    appearance: auto;
    -webkit-rtl-ordering: logical;
    cursor: text;
    background-color: field;
    margin: 0em;
    padding: 10px 2px;
    border-width: 2px;
    border-radius: 5px;
    border-style: inset;
    border-color: -internal-light-dark(rgb(0, 0, 0), rgb(0, 0, 0));
}

.user-button{
    border: none;
    background-color: rgb(45, 61, 46);
    color: white;
    padding: 10px;
    border-radius: 0px;
    cursor: pointer;
}

.pieSub-button{
    border: none;
    background-color: rgb(45, 61, 46);
    color: white;
    padding: 15px;
    border-radius: 5px;
    cursor: pointer;
}

.pie-page{
    padding-left: 20px;
    padding-bottom: 20px;
}

canvas {
    float: right;
    margin-top: 0%;
	transform: translateY(-125%);
}

html, body {
    margin: 0;
    padding: 0;
  }

